@charset "UTF-8";
/* CSS Document */

@supports(padding:max(0px)) {
    body, header, footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}

@media (min-width: 992px) {
  .expanded {
    display: block;
  }
}

@media (max-width: 991px) {
  .expanded {
    display: none;
  }
}

.dkRedBG {
	background: #300A14;
	border-color: #300A14;
}

.seperationLine {
	display: inline;
}

.rectangle-dkRed {
  height: 30px;
  background-color: #300a14;
}

.rectangle-yellow {
  height: 5px;
  background-color: #FFCC00;
}