@charset "UTF-8";
/* CSS Document */

@supports(padding:max(0px)) {
    body, header, footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}

@media (min-width: 992px) {
  .expanded {
    display: block;
  }
}

@media (max-width: 991px) {
  .expanded {
    display: none;
  }
}

.dkRedBG {
	background: #300A14 !important;
	border-color: #300A14;
}

.buttonLink{
	cursor: pointer;
}

.seperationLine {
	display: inline;
}

.rectangle-dkRed {
  height: 30px;
  background-color: #300a14;
}

.rectangle-yellow {
  height: 5px;
  background-color: #FFCC00;
}

.yellow {
	color: #ffcc00 !important;
}

.label1 {
	color: #ffcc00 !important;
	font-size:1.25rem;
}

h1.title {
	font-size:3rem;
	margin-bottom: 2rem;
}

.flip-horizontally {
  transform: scaleX(-1);
}

.footer{
	background-color: #300A14;
	height:2.5rem;
	bottom: 0;
	overflow: hidden;
	margin-bottom: -1rem;
	padding-top: .5rem;
	
}